<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        {# {{ encore_entry_link_tags('app') }} #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
              crossorigin="anonymous">
    {% endblock %}

    {% block javascripts %}
        {# {{ encore_entry_script_tags('app') }} #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('home') }}">АИС "Автовокзал"</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Маршруты</a>
            </li>
        </ul>
        <div class="d-flex">
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="btn-group">
                        <a class="btn btn-outline-info" href="{{ path('admin') }}">Админ-панель</a>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle mx-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Отчеты
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('trips_report') }}">По рейсам</a>
                            <a class="dropdown-item" href="{{ path('routes_report') }}">По маршрутам</a>
                            <a class="dropdown-item" href="{{ path('cashiers_report') }}">По кассирам</a>
                        </div>
                    </div>

                {% endif %}
                <a class="btn btn-outline-success mx-2" href="{{ path('user_profile', {'id':app.user.id}) }}">Купленные билеты</a>
                <div>
                    <span class="text-white mx-1">Здравствуйте, {{ app.user.firstName }}</span> <a class="btn btn-outline-primary" href="{{ path('app_logout') }}">Выйти</a>
                </div>
            {% else %}

                    <a class="btn btn-success mx-3" href="{{ path('app_register') }}">Зарегистрироваться</a>
                    <a class="btn btn-outline-primary" href="{{ path('app_login') }}">Войти</a>

            {% endif %}
        </div>
    </nav>
</div>

    {% block body %}{% endblock %}

</body>
</html>
