{% extends('base.html.twig') %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-3">{{ title }}</h1>
        <div class="card my-2">
            <div class="card-body">
                {{ form_start(form) }}
                <div class="d-flex flex-row justify-content-between align-items-center">
                {{ form_row(form.dateStart)}}
                {{ form_row(form.dateEnd)}}
                <button class="btn btn-success h-50">{{ button_label|default('Сформировать отчет') }}</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>


{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
{% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ru.min.js"
                integrity="sha512-tPXUMumrKam4J6sFLWF/06wvl+Qyn27gMfmynldU730ZwqYkhT2dFUmttn2PuVoVRgzvzDicZ/KgOhWD+KAYQQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script>
            jQuery(document).ready(function () {
                $('.js-datepicker').datepicker({
                    format: 'yyyy-mm-dd',
                    language: 'ru',
                    todayHighlight: true,
                });
            });
        </script>
    {% endblock %}

